<a href="https://colab.research.google.com/github/ShreePurvaja/Data-Science-Notes/blob/main/looping_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for loop
for s in 'purvaja':
  print(s.upper())

P
U
R
V
A
J
A

In [ ]:
a=4
i=0
while i<4:
  print(a)
  i=i+1

4
4
4
4

In [ ]:
#sum of all numbers
a=0
for i in [1,2,3,4,5,6,7]:
  a=a+i
print(a)


#inbuilt function
sum ([1,2,3,4,5,6,7])

28

28

In [ ]:
a=['Book','coffee']
b=['shop','person']
for i in a:
  for j in b:
    print(i,j)

Book shop
Book person
coffee shop
coffee person

In [ ]:
#comprehensive coding
sum=0
[sum:=sum+i for i in [1,2,3,4,5,6,7]]# := is called walrus operator(to assign values to a variable)
print(sum)

28

In [ ]:
a=0
while a<=10:
  print(a)
  a=a+2

0
2
4
6
8
10

In [ ]:
#print odd num alone
a=0
while a<10:
  a=a+1
  if a%2 == 0:
    continue
  print(a)

1
3
5
7
9

In [ ]:
a=0
while a<10:
  a=a+1
  if a==2:
    continue
  print(a)

1
3
4
5
6
7
8
9
10

In [ ]:
a=0
while a<100:
  a=a+10
  if a%3 == 0:
    continue
  print(a)

10
20
40
50
70
80
100