<a href="https://colab.research.google.com/github/ShreePurvaja/Data-Science-Notes/blob/main/oops(cont)%2CLinux_commands%2CFiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 05.02.2025

In [ ]:
# Abstraction and Encapsulation

class bank():
  def __init__(self,name,acc,balance):
    self.name=name
    self.acc=acc
    self.__balance=balance

  def deposit(self,amount):
    self.__balance=self.__balance+amount
    return self.__balance

  def withdraw(self,amount):
    self.__balance=self.__balance-amount
    return self.__balance

  def checkbalance(self):
    return self.__balance

shree=bank("Purvaja","1234",5000)
purvaja=bank("Purvaja","1234",10000)
gowtham=bank("Gowtham","1234",15000)

In [ ]:

print(shree.deposit(1000))
print(shree.withdraw(2000))
print(shree.checkbalance())

6000
4000
4000

In [ ]:

print(purvaja.deposit(7000))
print(purvaja.withdraw(2000))
print(purvaja.checkbalance())

17000
15000
15000

In [ ]:

print(gowtham.deposit(9000))
print(gowtham.withdraw(3000))
print(gowtham.checkbalance())

24000
21000
21000

In [ ]:
shree.__balance=1   # balance is a private variable so we can't access it outside the class

In [ ]:
#linux commands

!date                   # primary time standard used around the world

!TZ=Asia/Kolkata date   # Indian Standard Time

Wed Feb  5 01:48:51 PM UTC 2025
Wed Feb  5 07:18:51 PM IST 2025

In [ ]:
!mkdir purvaja    #create a directory
!mkdir shree

!rmdir shree    #remove a directory
!rmdir purvaja

In [ ]:
import os         #python os module

os.mkdir("classy")  #create a directory
os.rmdir("classy")   #remove a directory
os.rename("classy","kuttyClassy")  #rename a directory
os.rmdir("kutty classy")

In [ ]:
import os     #deleted a folder in my drive(after mounting the drive)
os.rmdir("/content/drive/MyDrive/guvi_class_sample")

In [ ]:
a=open("DS_Zen.txt","w")   #create a file in write mode

#will overwrite the file even if same file exists

In [ ]:
open("Zen.txt","x") #create a file in exclusive mode

# x access will look whether the file aldready exist or not(will not

# x only for creation and not for writing or appending

In [ ]:
a.write("Heyy all this is Purvaja")
a.close()

In [ ]:
b=open("DS_Zen.txt","a")   #create a file in append mode

b.write("\nI have added one more text in this ")

36

In [ ]:
# for loop or write lines (input in list)

c=["first","second","third"]

b.writelines(c)

b.close()

In [ ]:
#with open

with open("DS_Zen.txt","r") as f:
  print(f.read())

Heyy all this is Purvaja
I have added one more text in this
I have added one more text in this firstsecondthird

read binary and write binary are for other forms of data except python

In [ ]:
#pip - for installing python packages

!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
!pip freeze > requirements.txt          # to create a requirements file  # to see the installed packages

# pip uninstall <package_name>          # to uninstall a package

#pip install --upgrade <package_name>   # To upgrade an installed package

#pip list                               # To list all installed packages

In [ ]:
#zip and enumerate

a=["a","b","c"]

b=[1,2,3]

c=zip(a,b)

# print(list(c)) #once if it is printed the values will be del so acces the print in any one place

In [ ]:
for a,b in c:
  print(a,b)

a 1
b 2
c 3

In [ ]:
a=["rajini","kamal",'alia']   # used for class Task 1
b=["kanth","hassan","bhatt"]
c=zip(a,b)

for a,b in c:
  print(a,b)                  #use zip only when required

rajini kanth
kamal hassan
alia bhatt

In [ ]:
#enumerate    (en numerate)             # assigns numerical value to keep in track of the values

a=["a","b","c"]

for i,j in enumerate(a):
  print(i,j)

0 a
1 b
2 c

In [ ]:
for a,b in enumerate(a,10):       #usually prints as tuple if given with single value
  print(a,b)

10 a
11 b
12 c