<a href="https://colab.research.google.com/github/ShreePurvaja/Data-Science-Notes/blob/main/RelationalOperators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello MDTe36")
print('hello MDTe36')
print('''herllo''')

hello MDTe36
hello MDTe36
herllo

In [ ]:
c=input("enter your name")
print(c)

enter your namenirmal
nirmal

In [ ]:
a=float(input("enter your number"))
b=200
print(a+b)

enter your number20.67
220.67000000000002

In [ ]:
print(10+35) #addition
print(20-40)#sub
print(10*10)#multi
print(20/4)#div
print(20%3)#reminder
print(20//3)#floor division (return only the integer)
print(2**3) #exponential

45
-20
100
5.0
2
6
8

In [ ]:
ip=input().split()
print(ip)
a=int(ip[0])
b=int(ip[1])
c=int(ip[2])
print(a,b,c)

5 2 3
['5', '2', '3']
5 2 3

In [ ]:
print(2+3-4*6/4**2)

#BODMAS

3.5

In [1]:
#comparison operators


print(10 > 20)


print(10 < 20)

print(10 <= 10)

print(10 >= 10)

print(10 == 10)

print(input("enter your password")== "agara")

print(10 != 11)

False
True
True
True
True
enter your passwordagara
True
True

In [ ]:
print("a">"b")

False

In [ ]:
print("U+1F600")

U+1F600

In [ ]:
# prompt: print smiley with above unicoide

print("\U0001F605")

ðŸ˜…

In [ ]:
print(10 > 20 <= 30)

False

In [ ]:
print(18 < int(input("enter bmi")) < 25)

enter bmi25
False

In [ ]:
a=int(input("enter amount"))
print(80000 < a <100000 )

print(80000 < a and a <100000 )

enter amount85000
True

In [ ]:
a > 80000

80000 < a

In [ ]:
#logical operators

print(True and True)

print(True and False)

print(False and True)

print(False and False)


print(True or True)

print(True or False)

print(False or True)

print(False or False)

#blue-keyword
#yellow-functions

True
False
False
False
True
True
True
False

In [ ]:

print( None or False)

nirmal

In [ ]:
print( 1 and 1)

1

In [ ]:
print( 1 and 0 )

0

In [ ]:
print("nirmal" and 0 )

0

In [ ]:
print(0 and "nirmal ")

0

In [ ]:
print(None or False)
print(None and False)

False
None

In [ ]:
print(True or False and True)
print(True and False and True)

True
True

In [ ]:
print(1 and "idly")

idly

In [ ]:
#conditions
pasi=input("pasikudha ?")


if pasi == "yes" and "idly" :
 print("i am going to eat")
else:
  print("porumaya paathukuvom")

pasikudha ?yes
i am going to eat

In [ ]:
pin=input("enter pin")

if pin == "1234":
  print("welcome")
else:
  print("try again")

enter pin1234
welcome

In [ ]:
#conditions
how= input("eppadi irukka?")


if how=="nalla irukenga":
  print("continue talking")
elif how =="iruken":
  print("konjam careful")
elif how =="enna prachana":
  print("all clear")
else:
  print("end the call")

eppadi irukka?iruken
konjam careful

In [ ]:
#nested condition - ATM

card=input("card mela irukka 16 sollunga")


if card =="1234 1234 1234 1234":
  print("welcome")
  pin=input("enter pin")
  if pin == "1234":
    print("access granted")
    operation=input("W or D or B")
    balance = 10000
    if operation == "W":
     amount = int(input("enter amount to withdraw"))
     if amount <= balance:
      print("take cash")
     else:
      print("low balance")
    elif operation == "D":
      amount = int(input("amount podunga"))
      balance = balance + amount
      print(balance)
    elif operation =="B":
      print(balance)
    else:
      print("invalid input")
  else:
    print("invalid pin try again")
else:
  print("invalid card")

card mela irukka 16 sollunga1234 1234 1234 1234
welcome
enter pin1234
access granted
W or D or BW
enter amount to withdraw20000
low balance

In [ ]:
a=input("enter your name")

count=0

for d in a:
  count=count+1

print(count)

#iter()- iterable
#next()

enter your nameguvi
1
2
3
4

In [ ]:
a=0
for i in [1,2,3,4,5,6,7]:
  a=a+i
print(a)

28

In [ ]:

total=0
for num in [1,2,3,4]:
  total = total + num

print(total)

10

In [ ]:
total=0
[total:= total + num for num in [1,2,3,4]]
print(total)

10

In [ ]:
sum([1,2,3,4,5,6,7])

28

In [ ]:
for i in range (1,100,3):
  print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

In [ ]:
for i in range(1,10,):
  for j in range(10):
    print(i,j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [ ]:
maindish=["idly","parotta"]
sidedish=["sambar","chutney"]

for i in maindish:
  for j in sidedish:
    print(i,j)

idly sambar
idly chutney
parotta sambar
parotta chutney

In [ ]:
for i in ["rajini","kamal","alia"]:
  for j in ["khanth","hassan","bhatt"]:
    #code here

#rajini khanth
#kamal hassan
#alia bhatt

In [ ]:
problem=input("prachana irukka")

while problem == "no":
  print("marriage is happening")
  problem=input("prachana irukka")

prachana irukkano
marriage is happening
prachana irukkayes

In [ ]:
a=0

while a<10:

  a=a+2
  print(a)


#break
#continue
#pass

2
4
6
8
10

In [ ]:
a=0

while a<100:
  a=a+1
  print(a)
  if a==5:
    break

print("after loop")

1
after loop
2
after loop
3
after loop
4
after loop
5

In [ ]:
a=0

while a<100:
  a=a+1
  if a%5 == 0:
    continue #skip the loop
  print(a)

print("after loop")

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99
after loop

In [ ]:
a=0

while a<100:
  a=a+1
  if a%5 == 0:
    #payment
    pass
  print(a)

print("after loop")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
after loop

In [ ]:
a=0

while a<10:
  a=a+1
  for i in range (10):
    print(a,i)
    if i==2:
      break

print("after loop")

1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2
5 0
5 1
5 2
6 0
6 1
6 2
7 0
7 1
7 2
8 0
8 1
8 2
9 0
9 1
9 2
10 0
10 1
10 2
after loop

In [ ]:
# Task: Cafeteria Order Management System
# Description:
# The program will keep taking orders until the user decides to stop.
# For each order, the system will display a menu of items.
# The user can select an item, and the system will process the order.


menu = ["Idly", "Dosa", "Vada", "Pongal", "Upma"]
prices = [20, 50, 30, 40, 35]

print("Welcome to the Cafeteria!")

while True:
  #code here
  #Would you like to order something else? (yes/no): no