<a href="https://colab.research.google.com/github/ShreePurvaja/Data-Science-Notes/blob/main/SQL_connection_queries(TiDB_cloud).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12.02.2025

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 50.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "2yYzWuNLpsRGRUo.root",
  password = "LziV3VzKcgY6K7lq",
  database = "purvaja",
)

mycursor = connection.cursor()

In [ ]:
#to create database
mycursor.execute("create database MDTE36")

In [ ]:
#to create database in a loop
for i in range(1,4):
  mycursor.execute(f"create database guvi{i}")

In [ ]:
#to delete database
mycursor.execute("drop database guvi2")

In [ ]:
mycursor.execute("create table guvi1.customers (id int, name varchar(255))")

In [ ]:
mycursor.execute("use guvi1")
mycursor.execute("show tables")
for i in mycursor:
  print(i)

('customers',)

In [ ]:
mycursor.execute("insert into guvi1.customers (id, name) values (1, 'Purvaja')")

In [ ]:
connection.commit() # to be used for update and insert statements

In [ ]:
a=int(input())

b=input()

mycursor.execute()

2
Gowtham

In [ ]:
#to connect to mysql using try block
import mysql.connector

try:
  connection = mysql.connector.connect(
    host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
    port = 4000,
    user = "2yYzWuNLpsRGRUo.root",
    password = "LziV3VzKcgY6K7lq",
    database = "purvaja",
)
  if connection.is_connected():
    cursor = connection.cursor()
    cursor.execute("select * from guvi1.customers")
except Error as e:
  print(f"Error:{e}")

finally:
  if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed")