<a href="https://colab.research.google.com/github/ShreePurvaja/Data-Science-Notes/blob/main/Tuple%2CSet%2CDictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 29.01.2025

In [1]:
#Tuple - immutable

my_tuple = (1, 2, 3)

# Accessing elements from the tuple
print(my_tuple)      # Output: (1, 2, 3)
print(my_tuple[0])   # Output: 1
print(my_tuple[1])   # Output: 2

(1, 2, 3)
1
2

In [ ]:
#set - unordered and it doesn't have index [removes the duplicate values automatically]

A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)  # Union: {1, 2, 3, 4, 5, 6}

print(A & B)  # Intersection: {3, 4}

print(A - B)  # Difference: {1, 2} (Elements in A but not in B)

print(B - A)    # Difference: {5, 6} (Elements in B but not in A)

print(A ^ B)  # Symmetric Difference: {1, 2, 5, 6} (Elements in A or B but not both)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}
{1, 2, 5, 6}

In [ ]:
#set - to list

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = set(list1) & set(list2)

print(common) #output: {4,5}

print(4 in common)

print(list(common))  # Output: converted as list

{4, 5}
True
[4, 5]

In [ ]:
a="He has also led corporate and college training programs and developed hands-on coding platforms and assessments. His expertise spans across software development, cloud computing, big data tools, and ed-tech solutions.Would you like more specific details about his work or background?"

print(len(a.split())) - #it splits the string into words

print(len(set(a.split()))) #it splits the string into words and removes the duplicate words

40
37

In [ ]:
# dictionary - key value pair

b={'Name':'Shree Purvaja','Age':21,'Gender':'Female','Degree':['MSc,MBA']}

print(b['Name'])

print(b['Degree'])

print(b['Degree'][0])

print(b.keys()) #only applicable to dictionary

print(b.values())

print(b.items())  #gives the output as tuple inside a list since dictionary is not iterable object

Shree Purvaja
['MSc,MBA']
MSc,MBA
dict_keys(['Name', 'Age', 'Gender', 'Degree'])
dict_values(['Shree Purvaja', '21', 'Female', ['MSc,MBA']])
dict_items([('Name', 'Shree Purvaja'), ('Age', '21'), ('Gender', 'Female'), ('Degree', ['MSc,MBA'])])

In [ ]:
#dictionary in for loop

C={'Name':'Shree Purvaja','Age':21,'Gender':'Female','Degree':['MSc,MBA']}

for key in C.keys():
  print(key)

for key,values in C.items():
  print(key,values)

for a in C.values():
  print(a)

Name
Age
Gender
Degree
Name Shree Purvaja
Age 21
Gender Female
Degree ['MSc,MBA']
Shree Purvaja
21
Female
['MSc,MBA']

In [ ]:
C={'Name':'Shree Purvaja','Age':21,'Gender':'Female','Degree':['MSc,MBA'],'Gender':'Female'}

print(C)  #avoids the duplicate values

C['Name']=['Purvaja','Classy']

print(C)

C['Salary']='1,00,000'  #adds new key to the dictionary

print(C)

del C['Gender']   #deletes the key

print(C)

C['Job Role']='Data Scientist'

print(C)

{'Name': 'Shree Purvaja', 'Age': 21, 'Gender': 'Female', 'Degree': ['MSc,MBA']}
{'Name': ['Purvaja', 'Classy'], 'Age': 21, 'Gender': 'Female', 'Degree': ['MSc,MBA']}
{'Name': ['Purvaja', 'Classy'], 'Age': 21, 'Gender': 'Female', 'Degree': ['MSc,MBA'], 'Salary': '1,00,000'}
{'Name': ['Purvaja', 'Classy'], 'Age': 21, 'Degree': ['MSc,MBA'], 'Salary': '1,00,000'}
{'Name': ['Purvaja', 'Classy'], 'Age': 21, 'Degree': ['MSc,MBA'], 'Salary': '1,00,000', 'Job Role': 'Data Scientist'}

In [ ]:
def total_savings(n):
    if n == 0:
        return 1000  # Only initial savings
    elif n == 1:
        return 2000  # Initial + first month

    prev, curr = 1000, 1000
    total = prev + curr  # Sum of first two months

    for _ in range(2, n + 1):
        new_savings = prev + curr  # F(n) = F(n-1) + F(n-2)
        total += new_savings  # Add to total savings
        prev, curr = curr, new_savings  # Shift values

    return total

# Taking input
n = int(input())
print(total_savings(n))

2
4000